[submodule "Engine/libs/geometry"]
	path = Engine/libs/geometry
	url = git@github.com:antaalt/geometry.git
[submodule "Engine/libs/imgui"]
	path = Engine/libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Engine/libs/stb"]
	path = Engine/libs/stb
	url = git@github.com:nothings/stb.git
